Flask==3.1.2
flask-cors==6.0.1

joblib==1.5.1
numpy==2.3.2

openai==1.102.0
opencv-python==4.11.0.86
opencv-python-headless==4.10.0.84

protobuf==6.33.1
pypdfium2==5.1.0

pythainlp==5.0.5
python-dotenv==1.1.1

scikit-learn==1.7.2
supabase==2.24.0
typhoon-ocr==0.3.8
